BMC4_Server_Pack_v36.zip
# Sensitive server files to ignore
ops.json
whitelist.json
banned-ips.json
banned-players.json
server.properties
usercache.json
usernamecache.json
logs/
world/
mods/
config/
defaultconfigs/
patchouli_books/
libraries/
